* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, #ffa1a1, #ff7c30);
  font-family: "Ubuntu", sans-serif;
}

.alincont {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  width: 300px;
  height: 400px;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  gap: 30px;
}

h1 {
  display: flex;
  justify-content: center;
  color: rgb(255, 153, 0);
  margin-top: 20px;
}

label {
  font-size: 20px;
  color: rgb(255, 115, 0);
}

input {
  border-radius: 0.5rem;
  border: none;
  background: orange;
  color: white;
  padding: 3px;
  width: 230px;
}

button {
  width: 230px;
  height: 30px;
  border-radius: 0.5rem;
  border: none;
  background-color: rgb(255, 145, 0);
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-size: 20px;
  
}

u {
  color: blue;
}

.ng {
  text-align: center;
}

