/* Não mexer até que necessário */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background: linear-gradient(to right);
    font-family: 'Ubuntu', sans-serif;
    width: 100vw;
    height: 150vh;
    max-width: 100vw;
    max-height: 200vh;
    margin-inline-end: 10px;
    background-repeat: no-repeat;
    
  }

  
  .banner {
    background: url(imagens/banner.png);
    background-size: 100% 100%;
    width: 100vw;
    height: 50vh;
  }

  .apresentacao {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin: 50px;
  }

  /* não mexer até que necessário*/

  #listaDeParagrafos {
    display: flex;
    flex-direction: column;
    padding: 5px;
    gap: 5px;
    margin: 5px;
    align-items: center;
    font-size: 15px;
    position: sticky;
    top: 50px;
    height: fit-content;
  }

  .listaDeParagrafos h1 ul li {
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  
  .artigos {
    display: inline-flex;
    height: 100%;
    gap: 10px;
    height: 60vh;
    margin: 2px 2px 7px 6px;
  }

  /* .artigoTexto {
    max-width: 100vw;
  } */

  p {
    width: 50vw;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.5px;
  }

  .paragrafosGeral {
    display: flex;
  }

  .imgCarbon {
    width: 21vw;
    height: 60vh;
    display: flex;
    align-items: center;
    margin: 20px;
  }

  .listas{
    display: flex;
    gap: 20px;
    flex-direction: column;
    height: 200vh;
  }

  #mandante {
    display: flex;
    gap: 5px;
  }

  .img2 {
    border: 1px solid black;
    margin: 2px 2px 3px 15px;
    width: 25vw;
    padding: 15px;
    
  }
 